<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>基于KNN算法的入侵检测系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>

</head>
<body>
<!-- 黑底白字 -->
<div th:replace="commons/bar::topbar(activeUri='')" ></div>
</body>

</html>