<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>KDDCup99数据集分析分析</title>
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
    <!-- 引入 echarts.js -->
    <script th:src="@{/echarts.min.js}"></script>
    <style>
        /*body{ background:#fff url("http://img95.699pic.com/photo/50056/6084.jpg_wh300.jpg") no-repeat left top;background-size:100%;}*/
        .footer{background:#fff ;position:absolute;bottom:0;width:100%;height:90px;background-color: #343A40;}
    </style>
</head>
<body>
<div th:replace="commons/bar::topbar(activeUri='kddcup99')"></div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1550px;height:600px;"></div>
<div th:replace="commons/bar::bottombar"></div>
<div class="footer"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    var xStr='[[${application.xAxisData}]]';
    var xAxisData = xStr.split(",");
    var trainData = [[${application.trainDataCounts}]];
    var testData = [[${application.testDataCouts}]];
    var data1=[];
    var data2=[];

    for (var i = 0; i < trainData.length; i++) {
        data1.push(trainData[i]);
        data2.push(testData[i]);
    }

    option = {
        title: {
            text: 'kddcup99数据分析统计'
        },
        legend: {
            data: ['train', 'test'],
            align: 'left'
        },
        toolbox: {
            // y: 'bottom',
            feature: {
                magicType: {
                    type: ['stack', 'tiled']
                },
                dataView: {},
                saveAsImage: {
                    pixelRatio: 2
                }
            }
        },
        tooltip: {},
        grid:{
          y2:140
        },
        xAxis: {
            type: 'category',
            boundaryGap: [0, 0.01],
            axisLabel:{
                interval:0,//横轴信息全部显示
                rotate:-30,//-30度角倾斜显示
            },
            data: xAxisData,
            silent: false,
            splitLine: {
                show: false
            }
        },
        yAxis: {
        },
        series: [{
            name: 'train',
            type: 'bar',
            data: data1,
            animationDelay: function (idx) {
                return idx * 10;
            },itemStyle: {
                normal: {
                    label: {
                        show: true, //开启显示
                        position: 'top', //在上方显示
                        textStyle: { //数值样式
                            color: 'red',
                            fontSize: 10,
                        },
                        rotate:30
                    }
                }
            }
        }, {
            name: 'test',
            type: 'bar',
            data: data2,
            animationDelay: function (idx) {
                return idx * 10 + 100;
            },itemStyle: {
                normal: {
                    label: {
                        show: true, //开启显示
                        position: 'top', //在上方显示
                        textStyle: { //数值样式
                            color: 'black',
                            fontSize: 10,
                        },
                        rotate:30
                    }
                }
            }
        }],
        animationEasing: 'elasticOut',
        animationDelayUpdate: function (idx) {
            return idx * 5;
        }
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>